<!DOCTYPE html>
<html>
<head>
  <title>Gracie</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="site-wrapper layout">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Gracie</h3>
              <ul class="nav masthead-nav">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><a href="#">Other</a></li>
              </ul>
            </div>
          </div>


          <% flash.each do |name, msg| %>
          	<%= content_tag(:div, msg, class: "alert alert-info") %>
          <% end %>          

          <%= yield %>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by <a href="https://twitter.com/suchthekaitlin">@suchthekaitlin</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</html>
